<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>mypage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2 class="mb-4">My Page</h2>
        <a href="/mypage/write" class="btn btn-success">글 쓰기</a>

        <% results.forEach((result) => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= result.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= result.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= result.description %></div>
                    <a href="/mypage/show/<%= result.slug %>" class="btn btn-primary">Read More</a>
                    <a href="/mypage/edit/<%= result.id %>" class="btn btn-info">Edit</a>
                    <form action="/mypage/del/<%= result.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>

</html>